* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;


}

div.logo {
    color: #fff;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 4em 0 4em;

}

.header a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: all 1s;
    border: 2px solid transparent;
    margin: 20px;
}

.header a:hover {
    color: #fff;
    transform: translateX(2px);
    border: 2px solid #800000;
    border-radius: 5px;
    cursor: pointer;
}

div.logo:hover {
    color: #800000;

}

.header a.active {
    color: #fff;
}

/* home  */
.home {
    width: 100%;
    box-shadow: 0 5px 5px #800000;
    position: relative;
    animation-name: umair;
    animation-duration: 500ms;
    animation-delay: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    
}

.row .home-content h1 {
    color: #fff;
    font-weight: 900;
    font-size: 46px;
    transition: all 1s;
}

.row .home-content h3 {
    color: #800000;
    font-size: 32px;
    transition: all 1s;

}

.home-content .content p {
    color: #fff;
    transition: all 1s;
    word-spacing: 8px;
}

.home-content .content p:hover {
    transform: translateX(6px) translateY(6px)
}

.row .img img {
    margin-top: 2.5em;
    background: transparent;
    border: 3px solid #800000;
    border-radius: 50px ;
    transition: all 1s;
    padding-bottom: 5px;
}

.row .img img:hover {
    transform: translateX(5px) translateY(5px)
}

.row .home-content h1:hover {
    transform: translateX(6px) translateY(6px)
}

.row .home-content h3:hover {
    transform: translateX(6px) translateY(6px)
}

.home-content input {
    background-color: #800000;
    color: #fff;
    width: 100px;
    height: 35px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 6px;
    transition: all 1s;
    border: 2px solid #800000;

}

.home-content input:hover {
    transform: scale(1.1);
    cursor: pointer;

}

/* about section  */
#about{
    position: relative;
    animation-name: umair;
    animation-duration: 500ms;
    animation-delay: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    box-shadow: 0px 5px 5px #800000;
}
div.about-heading h2 {
    display: inline-block;
    color: #4c3737;
    font-weight: 900;
    box-shadow: 5px 5px 5px black;
    border: 10px solid transparent;
    margin: 5px;
}

.about-image {
    border: 1px solid #800000;
    background-image: url(./360_F_310262727_laUeq9XnEmT5W8EfFXVtDioU8wVPehGG.jpg);
    border-radius: 20px;
    transition: all 1s;
    height: 400px;
    background-size: 100% 100%;
    background-color: transparent;
}

.about-content {
    color: #fff;
    word-spacing: 5px;
    transition: all 1s;
}

div span.name {
    font-weight: bold;
    color:#fff;
}
.about-contact dl{
    display:flex ;
    margin-top: 3em;
    justify-content: center;
    /* align-items: center; */
}
.about-contact dl dt {
    color: #800000;
    margin-left: 5em;
}


.about-contact a,dd {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}

.about-image:hover {
    transform: translate(10px) translateY(10px)
}

.about-content p {
    transition: all 1s;
}

.about-content p:hover {
    transform: translate(10px) translateY(10px)
}

div.button button {
    background-color: #800000;
    border: 2px solid #800000;
    width: 25%;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: all 1s;
    height: 40px;
}

div.button button:hover {
    transform: scale(1.1);
    /* background-color: #0aa1dc33; */
    cursor: pointer;
}

/* section-services */
.service-heading h2 {
    display: inline-block;
    color: #fff;
    font-weight: 900;
    box-shadow: 5px 5px 5px black;
    border: 10px solid transparent;
    margin: 5px;
}

div.card h3 {
    color: #800000;
    font-weight: 700;
}

div.card p {
    color: #fff;
}

div.card {
    /* width: 100%; */
    box-shadow: 0 5px 5px #800000;
    transition: all 1s;
    text-align: center;
    border: 1px solid #800000;
}

div.card:hover {
    transform: translateX(4px) translateY(4px);
}

div.description h4 {
    color: #fff;
    font-weight: bold;
    transition: all 1s;

}

div.description {
    text-align: center;
    transition: all 1s;
}

div.description h4:hover {
    transform: scale(1.1);
}

#services {
    box-shadow: 0 5px 5px #800000;
}
/* testimonials */
#testimonials {
    box-shadow: 0px 5px 5px #800000;
    
}

div.card img {
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-left: 4em;
}


.card-title {
    color: #800000;
}

/* contact  */
.thank-u-box {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
}
.icon a {
    color: #fff;
    margin: 5px;
    border: 2px solid #fff;
    border-radius: 100px;
    padding: 5px;
}
div.col h5 {
    color: #800000;
    font-weight: bold;
}
div.col p {
    color: #fff;
}
div.col {
    transition: all 1s;
}
div.contact:hover {
    transform: translateX(4px) translateY(4px);
}
div.form-group label {
    color: #fff;
}
#contact {
    box-shadow: 0 5px 5px #800000;
}
/* animation */
@keyframes umair {
    0%{
        top: -20px;
        left: -20px;
    }
    100%{
        top: 0;
        left: 0;
    }
}